<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postgres tutorial</title>
    <link rel = "stylesheet" href = "css/style.css" />
</head>
<body>
        <nav class = "nav">
            <h1 class = "header-h1">NON-KYC</h1>
            <ul class = "header-ul">
                <li><a href = "/" class = "header-a">Home</a></li>
                <li><a href = "register" class = "header-a">Register</a></li>
                <li><a href = "login" class = "header-a">Login</a></li>
                <li><a href = "swap" class = "header-a">Swap</a></li>
                <li><a href = "profile" class = "header-a">Profile</a></li>
                <li><a href = "more" class = "header-a">...More</a></li>
            </ul>
        </nav>
</body>
</html>